
  * {
    padding: 0;
    margin: 0;
  }
  
  body {
    font-size: 62.5%;
  }
  
  img {
    width: 100%;
    height: auto;
  }
  
  .card {
    background-color: hsl(0, 0%, 100%);
    max-width: 70.9em;
  }
  
  .content {
    padding: 3.2em;
  }
  
  hr {
    border-top: 0.1em solid hsl(30, 18%, 87%);
    margin: 3em 0 3em 0;
  }
  
  h1 {
    font-family: 'Young Serif';
    font-weight: 400;
    font-size: 3.6em;
    color: hsl(24, 5%, 18%);
    line-height: 1;
  }
  
  h2 {
    font-family: 'Young Serif';
    font-weight: 400;
    font-size: 2.8em;
    color: hsl(14, 45%, 36%);
  }
  
  h3 {
    font-family: outfit;
    font-weight: 700;
    font-size: 2em;
    color: hsl(332, 51%, 32%);
  }
  
  h1, h2, h3 {
    margin-bottom: 1.2rem;
  }
  
  p {
    margin-bottom: 2em;
    line-height: 150%;
  }
  
  p, li, th, td {
    font-family: outfit;
    font-weight: 400;
    font-size: 16px;
    color: hsl(30, 10%, 34%);
  }
  p strong, li strong, th strong, td strong {
    font-weight: 700;
  }
  
  .prep-time {
    background-color: hsl(330, 100%, 98%);
    border-radius: 1em;
    padding: 2.2em;
    margin-bottom: 2em;
  }
  .prep-time ul {
    padding: 0 2em 0 2em;
  }
  .prep-time ul li {
    padding-left: 1em;
    line-height: 150%;
    margin-bottom: 0.5em;
  }
  .prep-time ul ::marker {
    color: hsl(332, 51%, 32%);
    font-size: 0.8em;
  }
  
  .ingredients ul {
    padding: 0 2em 0 2.1em;
  }
  .ingredients ul li {
    padding-left: 1em;
    line-height: 150%;
    margin-bottom: 0.5em;
  }
  .ingredients ul ::marker {
    color: hsl(14, 45%, 36%);
    font-size: 0.8em;
  }
  
  .instructions ol {
    padding-left: 2.2em;
  }
  .instructions ol li {
    padding-left: 1em;
    line-height: 150%;
    margin-bottom: 0.5em;
  }
  .instructions ol ::marker {
    color: hsl(14, 45%, 36%);
    font-size: 16px;
    font-weight: 700;
  }
  
  .nutrition p {
    margin-bottom: 1em;
  }
  .nutrition table {
    width: 100%;
    border-collapse: collapse;
  }
  .nutrition tr {
    height: 4em;
  }
  .nutrition tr:not(:last-child) {
    border-bottom: 0.1em solid hsl(30, 18%, 87%);
  }
  .nutrition th, .nutrition td {
    text-align: left;
    padding-left: 2em;
  }
  .nutrition th {
    width: 47%;
  }
  .nutrition td {
    color: hsl(14, 45%, 36%);
  }
  
  .attribution {
    font-family: outfit;
    font-weight: 400;
    font-size: 1.1em;
    color: hsl(30, 10%, 34%);
    text-align: center;
    padding: 2em;
    background-color: hsl(30, 54%, 90%);
  }
  .attribution a {
    color: hsl(14, 45%, 36%);
  }

  @media only screen and (min-width: 700px) {
    body {
      background-color: hsl(30, 54%, 90%);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .card {
      border-radius: 1.5em;
      margin: 10em;
      min-width: 32rem;
    }
    img {
      border-radius: 1em;
      width: calc(100% - 7em);
      margin: 3.5em 3.5em 0 3.5em;
    }
}
